<!DOCTYPE html>
<html xmlns:th ="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>TASK MANAGER</title>
</head>
<body>
<table width="100%" height="100%" border="1" style="border-collapse: collapse">
    <tbody>
    <tr>
        <td width="15%" height="35" nowrap="nowrap" align="center">
            <a style="text-decoration: none;" href="/">TASK MANAGER</a>
        </td>
        <td width="90%" align="right">
            <div sec:authorize="isAuthenticated()">
                <a style="text-decoration: none;" href="/projects">PROJECTS</a>
                |
                <a style="text-decoration: none;"
                   href="/tasks">TASKS</a>
                &nbsp;
                USER: <span sec:authentication = "name"></span>
                &nbsp;&nbsp;
                <a style="text-decoration: none;" href="/logout">LOGOUT</a>
                &nbsp;&nbsp;
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a style="text-decoration: none;" href="/login">LOGIN</a>
                &nbsp;&nbsp;
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="100%" valign="top" style="padding: 10px">
            <h1 align="center">PROJECT LIST</h1>

            <table width="100%" border="1" cellpadding="10" style="border-collapse: collapse">
                <tr>
                    <th width="200" nowrap="nowrap">ID</th>
                    <th width="200" nowrap="nowrap">NAME</th>
                    <th width="100%" align="left">DESCRIPTION</th>
                    <th width="100" nowrap="nowrap">EDIT</th>
                    <th width="100" nowrap="nowrap">DELETE</th>
                </tr>
                <tr th:each="project : ${projects}">
                    <td th:text ="${project.id}"></td>
                    <td><a th:href="@{'/projects/view/' + ${project.id}}"><span th:text ="${project.name}"/></a></td>
                    <td th:text="${project.description}"></td>
                    <td style="font-size: 15px" align="center"><a th:href="@{'/projects/update/' + ${project.id}}">UPDATE</a></td>
                    <td style="font-size: 15px" align="center"><a th:href="@{'/projects/delete/' + ${project.id}}">DELETE</a></td>
                </tr>
            </table>
            <form action="/projects/create" style="margin-top: 10px;">
                <button border="1">CREATE PROJECT</button>
            </form>
        </td>
    </tr>
    <tr>
        <td height="30" colspan="2" align="center">
            <a href="mailto: alexeykuzyushin@yandex.ru">alexeykuzyushin@yandex.ru</a>
    </tr>
    </tbody>
</table>
</body>
</html>
