<!DOCTYPE html>
<html xmlns:th ="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>TASK MANAGER</title>
</head>
<body>
<table width="100%" height="100%" border="1" style="border-collapse: collapse">
    <tbody>
    <tr>
        <td width="15%" height="35" nowrap="nowrap" align="center">
            <a style="text-decoration: none;" href="/">TASK MANAGER</a>
        </td>
        <td width="90%" align="right">
            <div sec:authorize="isAuthenticated()">
                <a style="text-decoration: none;" href="/projects">PROJECTS</a>
                |
                <a style="text-decoration: none;"
                   href="/tasks">TASKS</a>
                &nbsp;
                USER: <span sec:authentication = "name"></span>
                &nbsp;&nbsp;
                <a style="text-decoration: none;" href="/logout">LOGOUT</a>
                &nbsp;&nbsp;
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a style="text-decoration: none;" href="/login">LOGIN</a>
                &nbsp;&nbsp;
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="100%" valign="top" style="padding: 10px">
            <h1 align="center">PROJECT INFO</h1>
            <table width="100%" border="0" style="border-collapse: collapse">
                <tr>
                    <td width="20%">
                        <div style="margin-bottom: 5px">ID:</div>
                        <div><input type="text" readonly="true" name="id" th:value="${project.id}"></div>
                        <p>
                        <div style="margin-bottom: 5px">NAME:</div>
                        <div><input type="text" readonly="true" name="name" th:value="${project.name}"></div>
                        </p>
                        <p>
                        <div style="margin-bottom: 5px">DESCRIPTION:</div>
                        <div><input type="text" readonly="true" name="description" th:value="${project.description}"></div>
                        </p>
                        <p>
                        <div style="margin-bottom: 5px">CREATION-TIME:</div>
                        <div><input type="text" readonly="true" name="creationTime" th:value="${project.creationTime}"></div>
                        </p>
                        <p>
                        <div style="margin-bottom: 5px">START-DATE:</div>
                        <div><input type="text" readonly="true" name="startDate" th:value="${project.startDate}"></div>
                        </p>
                        <p>
                        <div style="margin-bottom: 5px">FINISH-DATE:</div>
                        <div><input type="text" readonly="true" name="finishDate" th:value="${project.finishDate}"></div>
                        </p>
                        <p>
                        <div style="margin-bottom: 5px">USER:</div>
                        <div><input type="text" readonly="true" name="user" th:value="${project.user.login}"></div>
                        </p>
                    </td>

                    <td valign="top">
                        <a style="margin-bottom: 5px">TASKS OF PROJECT:</a>

                        <table width="70%" border="1" cellpadding="5" style="border-collapse: collapse; margin-top: 3px">
                            <tr>
                                <td width="50">ID</td>
                                <td width="120">NAME</td>
                                <td width="200">DESCRIPTION</td>
                            </tr>
                            <tr th:each="task : ${tasks}">
                                <td th:text ="${task.id}"/>
                                <td th:text ="${task.name}"><a href="/tasks/view/${task.id}"/></td>
                                <td th:text ="${task.description}"/>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30" colspan="2" align="center">
            <a href="mailto: alexeykuzyushin@yandex.ru">alexeykuzyushin@yandex.ru</a>
    </tr>
    </tbody>
</table>
</body>
</html>