<!DOCTYPE html>
<html xmlns:th ="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>TASK MANAGER</title>
</head>
<body>
<table width="100%" height="100%" border="1" style="border-collapse: collapse">
    <tbody>
    <tr>
        <td width="15%" height="35" nowrap="nowrap" align="center">
            <a style="text-decoration: none;" href="/">TASK MANAGER</a>
        </td>
        <td width="90%" align="right">
            <div sec:authorize="isAuthenticated()">
                <a style="text-decoration: none;" href="/projects">PROJECTS</a>
                |
                <a style="text-decoration: none;"
                   href="/tasks">TASKS</a>
                &nbsp;
                USER: <span sec:authentication = "name"></span>
                &nbsp;&nbsp;
                <a style="text-decoration: none;" href="/logout">LOGOUT</a>
                &nbsp;&nbsp;
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a style="text-decoration: none;" href="/login">LOGIN</a>
                &nbsp;&nbsp;
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="100%" valign="top" style="padding: 10px">
            <h1 align="center">TASK CREATE</h1>

            <form th:action="@{/tasks/create}" method="POST" th:object="${task}">

                <p>
                    <div style="margin-bottom: 5px">PROJECT</div>
                    <select name="projectId">
                        <option th:each="project : ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
                    </select>
                </p>
                <p>
                    <div style="margin-bottom: 5px">NAME:</div>
                    <input type="text" name="name"/>
                </p>
                <p>
                    <div style="margin-bottom: 5px">DESCRIPTION:</div>
                    <input type="text" name="description"/>
                </p>
                <button type="submit">SAVE TASK</button>
            </form>
        </td>
    </tr>
    <tr>
        <td height="30" colspan="2" align="center">
            <a href="mailto: alexeykuzyushin@yandex.ru">alexeykuzyushin@yandex.ru</a>
    </tr>
    </tbody>
</table>
</body>
</html>